body {
  font-family: Arial, sans-serif; /* Fuente consistente */
}

/* Navbar styles */
.navbar {
  background-color: #3498db !important; /* Color de fondo azul claro */
}

.navbar-brand {
  font-weight:  arial;
  color: #ffffff; /* Texto blanco */
  font-size: 1.5em; /* Tamaño de fuente más grande */
}
.navbar-nav .nav-link i {
  margin-right: 8px; /* Ajusta este valor según sea necesario */
}

.navbar-nav .nav-link span {
  vertical-align: middle; /* Alinea verticalmente el texto con el icono */
}
.navbar-nav .nav-link {
  color: #e0f7fa; /* Texto celeste claro */
  margin-right: 15px;
  font-size: 1.2em; /* Tamaño de fuente ligeramente más grande */
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link:hover {
  color: #ffffff; /* Texto blanco al pasar el mouse */
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 767.98px) {
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .navbar-nav .nav-link {
    font-size: 1em;
  }
}

/* Estilos para el formulario de búsqueda */
.navbar .form-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto; /* Alinea el formulario a la derecha */
}

.navbar .form-inline .form-control {
  width: auto;
  flex: 1;
  margin-right: 10px; /* Espacio entre el input y el botón */
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.navbar .form-inline .btn {
  flex-shrink: 0;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

/* Estilos para el placeholder del input */
.navbar .form-inline .form-control::placeholder {
  color: #6c757d; /* Color gris */
  opacity: 1; /* Asegura que el color se aplique */
}

/* Estilos para el botón de búsqueda */
.navbar .form-inline .btn-outline-success {
  color: #3128a7;
  border-color: #2835a7;
}

.navbar .form-inline .btn-outline-success:hover {
  color: #fff;
  background-color: #4796b6;
  border-color: #3da3bd;
}

/* Container styles */
.container {
  margin: 20px auto; /* Centra el contenido */
  max-width: 95%; /* Ajusta el ancho máximo */
  padding: 20px; /* Agrega espacio interno */
}

/* Button styles */
.btn {
  margin-bottom: 10px;
}

/* Table styles */
.table-container {
  overflow-x: auto; /* Añade la barra de desplazamiento horizontal */
  margin-bottom: 20px; /* Espacio inferior */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.table th {
  background-color: #007bff;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table tbody tr:hover {
  background-color: #e9ecef;
}

/* Modal styles */
.modal-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.invalid-feedback {
  color: red;
  font-size: 12px;
}

.btn-secondary {
  margin-top: 20px;
}

/* Estilos específicos para botones de acción en la tabla */
.btn-table {
  margin-right: 5px;
  padding: 3px 10px;
  font-size: 14px;
}

.btn-table i {
  margin-right: 5px;
}

/* Estilos para asegurar que los botones de Aprobar y Desaprobar tengan el mismo tamaño */
.btn-approve,
.btn-disapprove {
  width: 100px; /* Ancho fijo para asegurar que ambos botones tengan el mismo tamaño */
}

/* Footer styles */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #76aacc; /* Fondo azul claro */
  color: #ffffff; /* Texto blanco */
  padding: 20px 0; /* Añade espacio interno arriba y abajo */
}

footer h5 {
  margin-bottom: 10px; /* Espacio inferior para el título */
}

footer p {
  margin-bottom: 10px; /* Espacio inferior para los párrafos */
}

.container.mt-5 {
  margin-top: 5rem !important;
}


.email-module {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.email-module .logo img {
  width: 100px; /* Ajusta el tamaño del logo según sea necesario */
}

.email-module .message p {
  font-size: 18px;
}

.email-module .link {
  margin-top: 10px;
}

.modal-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 20px;
}

.close {
  color: white;
}

/* Add some padding to the modal content */
.modal-content {
  padding: 20px;
}

/* Style the email content */
.email-content {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.email-content h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.email-content p {
  margin-bottom: 20px;
}

.email-content .action-buttons {
  text-align: center;
  margin-top: 20px;
}

.email-content .action-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.email-content .action-button:hover {
  background-color: #0069d9;
}

.email-module .logo img {
  max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos para el contenido del mensaje dentro del modal */
.modal-body .email-module {
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #ddd; /* Borde delgado gris */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
}


.modal-body .email-module .link {
  margin-top: 20px; /* Espacio superior */
  text-align: center; /* Alineación centrada para enlaces */
}

.modal-body .email-module .link .action-button {
  margin-right: 10px; /* Espacio entre botones */
}

.modal-body .email-module .link .action-button i {
  margin-right: 5px; /* Espacio entre ícono y texto */
}

/* Estilo para el card dentro del modal */
.modal-body .email-module .card {
  background-color: #d8f3f3; /* Color de fondo del card */
  border: 1px solid #378396; /* Borde del card */
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  margin-bottom: 20px; /* Espacio inferior */
}

/* Estilo para el card dentro del boton */
.card-link {
  display: flex;
  justify-content: flex-start; /* Alinea los botones a la izquierda dentro del card-link */
  margin-bottom: 10px;
  border: 1px solid #ddd; /* Añade un borde alrededor del card */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espacio interior del card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
  background-color: #fff; /* Fondo blanco */
  margin: 0 auto; /* Centra el card horizontalmente */
  width: fit-content; /* Ajusta el ancho del contenedor al contenido */
}

.card-link .action-button {
  display: flex;
  align-items: center; /* Alinea verticalmente los íconos y el texto */
  justify-content: flex-start; /* Alinea el contenido del botón a la izquierda */
  padding: 10px 20px;
  background-color: #7cd8df;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}

.card-link .action-button:hover {
  background-color: #307c78;
}

.card-link .action-button i {
  margin-right: 5px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #76aacc; /* Fondo azul claro */
  color: #ffffff; /* Texto blanco */
}

.container.mt-5 {
  margin-top: 5rem !important;
}
footer {
  background-color: #76aacc; /* Fondo azul claro */
  color: #ffffff; /* Texto blanco */
  padding: 20px 0; /* Añade espacio interno arriba y abajo */
}

footer h5 {
  margin-bottom: 10px; /* Espacio inferior para el título */
}

footer p {
  margin-bottom: 10px; /* Espacio inferior para los párrafos */
}
