<div class="wrapper bg-white">
  <div class="h2 text-center">Land Manager</div>
  <div class="h4 text-muted text-center pt-2">Bienvenido/a</div>
  <form class="pt-3">
    <div class="form-group py-2">
      <div class="input-field">
        <span class="far fa-user p-2"></span>
        <input type="text" [(ngModel)]="username" name="username" placeholder="Usuario o Email " required>
      </div>
    </div>
    <div class="form-group py-1 pb-2">
      <div class="input-field">
        <span class="fas fa-lock p-2"></span>

        <input type="password" [(ngModel)]="password" name="password" placeholder="Ingrese la contraseña" required>
        <button class="btn bg-white text-muted" type="button">
          <span class="far fa-eye-slash"></span>

        </button>
      </div>
    </div>
    <div class="d-flex align-items-start">
      <div class="remember">
        <label class="option text-muted">
          Recordarme
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="ml-auto">
        <a href="#" id="forgot">Olvidaste tu contraseña?</a>
      </div>
    </div>
    <button class="btn btn-block text-center my-3" type="button" (click)="login()">Ingresar</button>
    <div class="text-center pt-3 text-muted">
      No tiene cuenta ? <a href="">Crear una</a>
    </div>
    <div *ngIf="loginMessage" class="alert" [ngClass]="{'alert-success': authService.isAuthenticated(), 'alert-danger': !authService.isAuthenticated()}">
      {{ loginMessage }}
    </div>
  </form>
</div>
