<nav class="navbar navbar-expand-lg navbar-dark bg-dark" [class.active]="isNavActive" id="navbar">
  <a class="navbar-brand" routerLink="/">
    <i class="fas fa-home"></i> ESPE M2
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">
          <i class="fas fa-life-ring"></i>Soporte técnico
        </a>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/solicitante']" routerLinkActive="active">
          <i class="fas fa-user-edit"></i> Solicitante
        </a>
      </li>
      <!-- Mostrar usuario logueado -->
      <li class="nav-item" *ngIf="loggedInUser">
        <span class="nav-link">
          <i class="fas fa-user"></i> {{ loggedInUser }}
        </span>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">
          <i class="fas fa-sign-out-alt"></i> Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Cards in the Center -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card text-center">
        <img src="ruta-a-tu-imagen1.jpg" alt="Imagen 1" class="card-img-top">
        <div class="card-header">
          <h3>Quiénes Somos</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Somos una empresa dedicada a la gestión de empleados y departamentos, comprometidos con ofrecer soluciones eficientes y efectivas.</p>
        </div>
        <div class="card-footer text-muted">
          &copy; 2024 MyApp
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card text-center">
        <img src="ruta-a-tu-imagen2.jpg" alt="Imagen 2" class="card-img-top">
        <div class="card-header">
          <h3>Nuestros Servicios</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Ofrecemos una amplia gama de servicios para la gestión eficiente de empleados y departamentos.</p>
        </div>
        <div class="card-footer text-muted">
          &copy; 2024 MyApp
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="text-white text-center py-3">
  <div class="container">
    <h5>Elabodorado por ITIN ESPE 2024</h5>
    <p>&copy; 2024 ESPE. Todos los derechos reservados. Equipo Land Manager</p>
  </div>
</footer>
