/* styles.css o upload-comprobante.component.css */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  border: 5px solid black;

}
body {
  background-color: #f0f0f0; /* Cambia el color de fondo aquí */
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to top, #fff 10%, rgba(83, 193, 212, 0.4) 90%) no-repeat;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center; /* Centra los elementos del formulario */
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-input {
  padding: 10px;
  border: 1px solid #cfc6c6;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; /* Hace que el input ocupe todo el ancho disponible */
  margin: 0 auto;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Añade una animación de escalado al pasar el cursor */
}

.upload-button {
  align-self: center;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  animation: slideDown 0.5s ease; /* Animación de aparición para el modal */
}

@keyframes slideDown {
  from {
      transform: translateY(-20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.modal-header, .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 20px;
  color: #333;
}

.modal-text {
  font-size: 16px;
  color: #666;
}

.modal-input {
  margin-top: 10px;
  width: 100%; /* Hace que el input ocupe todo el ancho disponible */
}

.cancel-button {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cancel-button:hover {
  background-color: #5a6268;
  transform: scale(1.05); /* Añade una animación de escalado al pasar el cursor */
}
